<section id="main">

	<h1 class="shop-for-bisexual">Shop for Bisexual Apparel</h1>

	<div class="panel" id="both">
		<img src="img/both.jpg" class="shirtType" alt="Shirt that says 'If you play for both teams you\'ll always win'" border="0">
		<h2>Both Is Good</h2>
		<p>Was your sexuality a choice? No, of course not! It's no different for bisexual people.</p>
		<br />
		<button>Order</button>
	</div> <!-- /.panel /#both -->

	<div class="panel" id="notshy">
		<img src="img/notshy.jpg" class="shirtType" alt="Shirt that says 'Not shy about being bi'" border="0">
		<h2>Not Shy</h2>
		<p>Scientific studies have verified bisexual arousal patterns in both men and women.</p>
		<button>Order</button>
	</div>

	<div class="panel" id="proud">
		<img src="img/proud.jpg" class="shirtType" alt="Gray shirt picturing a fish, with text saying 'Proud of my stripes'" border="0">
		<h2>Proud</h2>
		<p>Bisexuality and polyamory are two separate identities. One doesn't cause the other.</p>
		<button>Order</button>
	</div>

	<div class="panel" id="bisexu-whale">
		<div id=bisexuWhale>
			<img src="img/bisexu-whale.png" class="shirtType" alt="Shirt picturing a cartoon whale that says 'Bisexu-Whale'" border="0">
		</div>
		<h2>Bisexu-Whale</h2>
		<p>Bisexual: having both homo- &amp; heterosexual patterns of sexual attraction/activity.</p>
		<button>Order</button>
	</div>

	<div class="panel" id="bothTeams">
		<img src="img/ifyouplay.jpg" class="shirtType" alt="Shirt that says 'If you play for both teams you\'ll always win'" border="0">
		<h2>Both Teams</h2>
		<p>Bisexuality is an orientation for which sex and gender are not a boundary to attraction.</p>
		<button>Order</button>
	</div>

<div class="panel" id="flag">
		<img src="img/flag.jpg" class="shirtType" alt="Black shirt with the bisexual flag" border="0">
<!-- https://rlv.zcache.com/bi_flag_flies_for_bisexual_pride_t_shirt-raf4e20c49d4646558d423daace3bfe78_k2gm8_324.jpg -->
		<h2>Bisexual Flag</h2>
		<p>Approximately 2.2% of women and approximately 1.4% of men identify as bisexual.</p>
		<button>Order</button>
	</div>	

</section> <!-- /#main -->